SQLALCHEMY_DATABASE_URI = 'postgresql://localhost'
TIMEZONE = 'Europe/Zurich'
INFERENCE_API='None'

GITHUB_CLIENT_ID='secret'
GITHUB_CLIENT_SECRET='secret'

FRONTEND_REDIRECT = "http://localhost:3000/"

ORIGINS = ["http://localhost:3000", "http://localhost:3001", "http://localhost:5001"]
